<div class="annotated-container">
  <div class="annotated-main">
    {{ include.content }}
  </div>
  <div class="annotated-notes">
    {% for note in include.notes %}
    {% if note[1].text %}
    <div class="sidenote" style="border-left-color: {{ note[1].color | default: '#267CB9' }};">
      <span class="note-marker" style="background-color: {{ note[1].color | default: '#267CB9' }};">{{ note[0] }}</span>
      {{ note[1].text }}
    </div>
    {% elsif note.text %}
    <div class="sidenote" style="border-left-color: {{ note.color | default: '#267CB9' }};">
      <span class="note-marker" style="background-color: {{ note.color | default: '#267CB9' }};">{{ note.id }}</span>
      {{ note.text }}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
